footer {
  background: #000e4b;
}
footer .container-wrap.container {
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
  padding-bottom: 68px;
  margin: 0 auto;
}
footer ul.details {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
footer ul.details {
  justify-content: flex-start;
}
footer ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
footer ul li a:hover,
footer ul li a:visited {
  color: #ffffff;
}
footer ul li a img.logo {
  width: 162px;
}
footer ul li a img {
  margin-right: 10px;
}
footer ul li a.logo {
  margin-bottom: 9.3px;
}
footer ul li a.copyright {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin-bottom: 19px;
}
footer ul li a.socials img {
  width: 20px;
  margin-bottom: 30px;
}
footer ul li a.address img {
  width: 17px;
}
footer ul li.contacts a img {
  margin: 15px 10px 15px 0;
}
footer ul.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
footer ul.menu li h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin: 0;
}
footer ul.menu a {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #ffffff;
}
footer ul.menu li:not(:last-child) {
  margin-bottom: 8px;
}

@media only screen and (max-width: 992px) {
  footer .container-wrap.container {
    display: flex;
    flex-direction: column;
    padding: 46px 24px;
  }

  /* footer .container-wrap.container {
    display: flex;
    flex-direction: column;
    padding: 46px 24px;
  } */
  footer .container-wrap.container ul.details {
    margin-bottom: 68px;
  }
  footer .container-wrap.container > ul.menu {
    margin-bottom: 24px;
  }
  footer ul.details {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  footer ul li a {
    word-break: break-word;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    overflow: hidden;
  }
  footer .container-wrap.container {
    display: flex;
    flex-direction: column;
    padding: 46px 24px;
  }
  /* footer .container-wrap.container ul.details {
    margin-bottom: 68px;
  }
  footer .container-wrap.container > ul.menu {
    margin-bottom: 24px;
  }
  footer ul.details {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  footer ul li a {
    word-break: break-word;
  } */
}
