@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+3:wght@400;600&family=Source+Serif+4:opsz,wght@8..60,600;8..60,700&display=swap");

/* LAYOUT START */
body {
  color: #ffffff;
  background: #000030;
  font-size: 1em;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
}
.container-wrap {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
}
main {
  background: #ffffff;
}

/* LAYOUT END*/

/* HEADER START*/
header {
  background: #000d58;
  border-bottom: 1px solid #ffffff;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 24px 0;
}
header nav ul li {
  padding: 4px 8px;
}
header nav ul li {
  margin-left: 32px;
}
nav > ul:nth-child(1) > li:nth-child(1),
nav > ul:nth-child(3) > li:nth-child(1) {
  margin: 0;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
header nav a img.logo {
  width: 170px;
}
/* HEADER END*/

/* HERO IMAGE START*/
main .hero-image {
  min-width: 100%;
  height: 542px;
  background-image: url("../images/hero-image-building.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main .hero-image a.hero-image-button {
  margin-top: 58px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 4px;
  text-decoration: none;
  color: #000030;
}
main .hero-image a.hero-image-button p {
  margin: 0;
}
main .hero-image .hero-image-button ion-icon {
  color: #000030;
  font-size: 24px;
  margin-right: 4px;
}
main .main-view {
  width: 100%;
  background: #ffffff;
  position: relative;
  margin-top: -284px;
  border-radius: 64px;
  box-shadow: 0px -64px 64px rgba(19, 38, 99, 0.15);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 64px;
}
.main-view .columns {
  display: flex;
}
/* .main-view .columns .col-xxl-6 {
  max-width: 510px;
} */
/* .main-view .columns .col-xxl-6:nth-child(1) {
  margin-right: 18px;
}
.main-view .columns > div:nth-child(2) {
  margin-left: 18px;
} */

/* HERO IMAGE END*/

/* MAIN START */

/* SECTION MAIN VIEW START */

.main-view h3 {
  font-family: "Source Serif 4";
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #000030;
  margin-bottom: 24px;
}

/* LEFT COLUMN */

.main-view .img-container {
  border: 1px solid #ffffff;
  border-radius: 12px;
  position: relative;
}
.main-view .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-view .img-container .background {
  border: 1px solid #ffffff;
  border-radius: 12px;
}
.full-screen-button {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 9px;
  background: #000d58;
  border-radius: 4px;
  bottom: 12px;
  right: 12px;
  text-decoration: none;
}
.full-screen-button > img:nth-child(1) {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
.full-screen-button p {
  margin: 0;
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

/* SLIDER START */
.slider-wrapper {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  position: relative;
}
.slider-wrapper > img.previous-arrow,
.slider-wrapper > img.next-arrow {
  position: absolute;
  width: 16px !important;
  height: 16px !important;
}
.slider-block {
  position: relative;
}
.slider-block .next-arrow,
.slider-block .previous-arrow {
  top: 50%;
  transform: translateY(-8px);
  position: absolute;
  display: block !important;
}
.slider-wrapper {
  position: relative;
}
.previous-arrow {
  left: 0 !important;
}
.next-arrow {
  right: 0 !important;
}
.slick-arrow.slick-hidden {
  top: 50%;
  transform: translateY(-8px);
  position: absolute;
  display: block !important;
}
.slider-wrapper .slick-slide {
  width: 75px !important;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0;
}
.slider-wrapper .slick-slide .unpkt {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.slider-wrapper > .slick-list {
  padding: 0 !important;
}
.slick-slide.slick-current {
  border-color: #000d58;
}

/* SLIDER END */

/* SLIDER VIEW START */
.slick-slide {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.current-element-panel .row .box {
  border: 1px solid #000d58;
  border-radius: 4px;
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-element-panel .row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8px;
}
.current-element-panel p {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000030;
  margin: 0;
}
.current-element-panel .box {
  width: 130px;
  height: 68px;
}
.current-element-panel .row:nth-child(2) .box:first-child {
  width: 224px;
}
.images-wrap {
  display: flex;
}
.image-box {
  width: 106px;
  height: 68px;
  padding: 0;
}
.image-box img {
  width: 100%;
  height: 100%;
  border: 1px solid #000d58;
  border-radius: 4px;
  display: block;
  object-fit: cover;
  position: relative;
  object-position: center;
}


/* SLIDER VIEW END */




/* RIGHT COLUMN */

p.estate-information {
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #585655;
}
.building-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background: #f1efef;
  border-radius: 12px;
}
.details-row {
  display: flex;
  align-items: center;
  width: 100%;
}
.details-row h4 {
  font-family: "Source Serif 4";
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000030;
  margin: 0;
}
.details-row .elem-1 {
  margin-right: 24px;
}
.details-row p.style-1 {
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000030;
  margin: 0;
}
.details-row p.style-2 {
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000030;
  margin: 0;
}
.details-row p.style-3 {
  font-family: "Source Serif 4";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000030;
  margin: 0;
}
.details-row .cont {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbfaf8;
  border-radius: 50px;
}
.details-row .cont:first-child {
  margin-right: 8px;
}
.details-row .cont img {
  height: 16px;
  width: 14px;
  margin-right: 11px;
}
.details-row:nth-child(1) {
  justify-content: space-between;
}
.building-details .details-row:not(:last-child) {
  margin-bottom: 16px;
}
.card {
  padding: 16px;
  width: 100%;
  border: 1px solid #000d58;
  border-radius: 12px;
  display: flex;
  margin-bottom: 16px;
  flex-direction: row;
  margin-top: 24px;
}
.card .img-container {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 24px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
}
.card .data-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.card .data-container-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card .names {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card .data-container .phone img,
.card .data-container .email img {
  width: 16px;
  height: 16px;
  align-self: center;
}
.card .img-container img {
  display: block;
  width: 100%;
  height: 140%;
  object-fit: cover;
  position: relative;
  object-position: center;
  top: -35%;
}
.card h4 {
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  align-self: stretch;
  font-size: 28px;
  line-height: 38px;
  color: #000030;
  margin-bottom: 4px;
}
.card h5 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #585655;
  margin-bottom: 8px;
}
.info-box {
  background: #f1efef;
  border-radius: 4px;
  display: flex;
  padding: 4px 8px;
}
.info-box ion-icon {
  color: #324994;
  align-self: center;
  font-size: 18px;
}
.info-box a {
  font-family: "Source Sans 3", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #324994;
  text-decoration: none;
  margin-left: 10px;
}
.info-box > a {
  word-break: break-all;
}
.card .email {
  margin-bottom: 8px;
}
.card .phone {
  margin-bottom: 8px;
}
/* SECTION MAIN VIEW END */

/* MAIN END */

/* SECTION FILTER START */
section.filter h3 {
  font-family: "Source Serif 4";
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000030;
  margin-bottom: 13px;
}
section.filter p {
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000030;
  margin-bottom: 2px;
}
.filter-wrapper {
  display: flex;
}
.category-wrapper {
  display: flex;
  flex-direction: column;
}
.category-box {
  display: flex;
  margin-bottom: 24px;
}
.category-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-right: 0;
  background: #ffffff;
  border: 1px solid #050723;
  border-radius: 4px;
  margin-right: 16px;
  cursor: pointer;
}
.category-box p {
  font-family: "Source Sans 3";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #585655;
  margin-right: 4px;
}
.category-box img {
  width: 10px;
  height: 5px;
  margin-right: 16px;
}

/* SECTION FILTER END */

/* SECTION TABLE START */
.table-container {
  border: 1px solid #e0e7ed;
  border-radius: 4px;
}
.table-container .col-1 p {
  margin: 0;
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}
.table-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
  background: #f9f9f9;
}
.table-cell-2 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 18.5px 10px;
  background: #ffffff;
  max-height: 60px;
}
.table-container .container > div.row:nth-child(2) p,
.table-container .container > div.row:nth-child(4) p,
.table-container .container > div.row:nth-child(2) img,
.table-container .container > div.row:nth-child(4) img {
  opacity: 0.5;
}
.table-container .container > div.row:nth-child(2) .table-cell-2,
.table-container .container > div.row:nth-child(4) .table-cell-2 {
  background: #f3f3f3;
}

.background-sold {
  padding: 4px 8px;
  background: #ffdddb;
  border: 1px solid #702727;
  border-radius: 8px;
}
.background-available {
  padding: 4px 8px;
  background: #dbffff;
  border: 1px solid #27705f;
  border-radius: 8px;
}
.cell-11 {
  min-width: 148px;
  display: flex;
  justify-content: space-around;
}
.cell-12 {
  /* max-width: 97px; */
  display: flex;
  justify-content: space-between;
}

/* SECTION TABLE END */

/* FOOTER START*/
footer {
  background: #000030;
  color: #ffffff;
}
footer .container-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 70px;
  margin-top: 40px;
}
footer ul {
  list-style: none;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
footer .column-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
footer .column-1 img.logo {
  width: 170px;
  height: 36px;
  margin-bottom: 8px;
}
footer .column-1 p.copyright {
  margin-bottom: 35px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
footer ul.social-handles {
  display: flex;
  font-size: 20px;
  padding: 0;
}
footer ul.social-handles li a {
  margin-right: 28px;
  color: #ffffff;
}
footer ul.social-handles-responsive {
  font-size: 20px;
  padding: 0;
  margin-top: 42px;
}
footer ul.social-handles-responsive li a {
  margin-right: 28px;
  color: #ffffff;
}
footer .social-handles-responsive {
  display: none;
}
footer .column-2 {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-bottom: 32px;
  line-height: 26px;
  font-size: 18px;
}
footer .column-2 {
  display: flex;
  padding: 0;
}
footer .column-2-1 a,
footer .column-2-2 a {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
footer .column-2-1 a:visited,
footer .column-2-2 a:visited {
  color: #ffffff;
}
footer .column-2-1,
footer .column-2-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .column-2-1 {
  margin-right: 30px;
}
footer .column-2-2 {
  margin-left: 30px;
}
footer .column-2 a:nth-child(2) {
  margin: 8px 0;
}
footer .column-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 100%;
}
footer .column-3 p {
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
footer .column-3 p:nth-child(2) {
  margin: 16px 0;
}

/* FOOTER END*/

/* RESPONSIVE VIEW */
header nav .hamburger {
  display: none;
}

@media only screen and (max-width: 992px) {
  header nav ul {
    padding: 0;
    margin: 16px 0;
  }
  header nav ul li {
    padding: 4px 6px;
  }
  header nav ul li:not(:first-child) {
    margin-left: 16px;
  }
  header nav ul li a {
    font-weight: 400;
    font-size: 14px;
  }
  footer .column-2-1 a,
  footer .column-2-2 a {
    font-weight: 400;
    font-size: 16px;
  }
  footer .column-3 p {
    font-size: 14px;
  }
  main .about-us-form-wrapper {
    padding-top: 0;
  }
  main .about-us-form-wrapper p.about-us-text {
    align-self: center;
    padding: 48px;
  }
  main section h3 {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  header nav {
    height: 100%;
  }
  header nav ul {
    display: none;
  }
  header nav a img.logo {
    margin: 16px 24px;
  }
  header nav .hamburger {
    display: block;
    margin-right: 15px;
    font-size: 55px;
  }
  main .hero-image a.hero-image-button {
    display: none;
  }
  main .hero-image {
    height: 278px;
  }
  main .about-us-form-wrapper {
    margin-top: -82px;
    padding-top: 0;
  }
  main .hero-image h3 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 64px;
  }
  main section h3 {
    margin-top: 40px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 0 24px;
  }
  main section h3 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 0 24px;
  }
  main section p.intro {
    text-align: left;
    margin-bottom: 8px;
  }
  main .about-us-form-wrapper p.about-us-text {
    padding: 24px;
    background: #ffffff;
    box-shadow: 0px -10px 24px rgba(19, 38, 99, 0.1);
    border-radius: 32px 32px 0px 0px;
    text-align: left;
  }
  .card .data-container-2 {
    display: flex;
    margin-bottom: 8px;
  }
  .card .data-container-2 h4 {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 8px;
    word-break: break-all;
  }
  .card .data-container-2 h5 {
    font-size: 16px;
    line-height: 1;
    word-break: break-all;
  }
  .card .names {
    display: flex;
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }
  .card .info-box a {
    font-size: 14px;
  }
  .data-container {
    width: 100%;
  }
  main section .card .img-container {
    margin-right: 10px;
  }
  main {
    padding-bottom: 64px;
  }
  footer a,
  footer p {
    font-weight: 400;
    font-size: 14px;
  }
  footer .container-wrap {
    flex-direction: column;
    display: flex;
  }
  footer .column-2 {
    flex-direction: column;
    align-items: center;
  }
  footer ul.social-handles {
    padding-left: 40px;
    margin-top: 42px;
    display: none;
  }
  ul.social-handles-responsive {
    display: flex;
  }
  footer .column-3 p:nth-child(2) {
    margin-top: 0px;
  }
  footer .column-1,
  footer .column-2,
  footer .column-3 {
    padding-left: 40px;
    display: flex;
    align-items: flex-start;
  }
  footer .column-3 p:last-child {
    margin: 0;
  }
  footer .column-2-1,
  footer .column-2-2 {
    margin: 0px;
    text-align: start;
  }
  footer .column-2-1 {
    margin-bottom: 16px;
  }
  footer .column-2-1 a:nth-child(2),
  footer .column-2-2 a:nth-child(2) {
    margin: 16px 0;
  }
  footer .column-1 p.copyright {
    margin: 0;
  }
  footer .column-1 {
    margin-bottom: 40px;
  }
  footer .column-2 {
    margin-bottom: 40px;
  }
  main section a.button {
    display: none;
  }
}
