/* MAIN  */
main#profile h4 {
  margin: 0;
  text-align: left;
}
main#profile .breadcrumbs {
  margin-top: 17px;
  margin-bottom: 25px;
  display: flex;
}
main#profile .breadcrumbs > * {
  margin-right: 4px;
}
main#profile .breadcrumbs > img {
  margin-bottom: 2px;
}
main#profile .breadcrumbs a,
main#profile .breadcrumbs p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #050723;
  text-decoration: none;
  display: inline-block;
}
main#profile .breadcrumbs a:visited,
main#profile .breadcrumbs p:visited {
  color: #050723;
}
main#product .breadcrumbs a:hover,
main#product .breadcrumbs p:hover {
  color: #0727b7;
}
main#profile .breadcrumbs p {
  margin: 0;
}
main#profile section.information .section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #050723;
  margin-bottom: 8px;
}
main#profile section.information .article-intro .article-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #050723;
}
main#profile section.information article.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 24px;
}
main#profile section.information article.user-info:last-child {
  margin-bottom: 64px;
}
main#profile section.information article.user-info .article-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}
main#profile section.information article.user-info .article-intro ~ p {
  margin-bottom: 8px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
main#profile section.information article.user-info > p:last-child {
  margin-bottom: 0;
}
main#profile
  section.information
  article.user-info
  .article-intro
  .change-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
main#profile
  section.information
  article.user-info
  .article-intro
  .change-button
  img {
  width: 14px;
  margin-right: 6px;
  margin-top: -4px;
}
main#profile
  section.information
  article.user-info
  .article-intro
  .change-button
  p {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #050723;
}
main#profile section.information article.user-info .article-row {
  width: 100%;
  padding: 15px;
  border: 1px solid #828282;
  border-radius: 4px;
  margin-bottom: 8px;
}
main#profile section.information article.user-info .article-row:nth-child(3) {
  margin-bottom: 24px;
}
main#profile section.information article.user-info .article-row,
main#profile section.information article.user-info .article-row div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main#profile
  section.information
  article.user-info
  .article-row
  input[type="radio"] {
  margin-right: 10px;
  width: 12px;
  height: 12px;
  position: relative;
}
main#profile
  section.information
  article.user-info
  .article-row
  input[type="radio"]:checked {
  background: #0727b7;
}
main#profile section.information article.user-info .article-row a:visited {
  color: #d71e4a;
}
main#profile section.information article.user-info .article-row a.edit {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #050723;
}
main#profile section.information article.user-info .article-row a.delete {
  margin-left: 24px;
  color: #d71e4a;
}
main#profile section.information article.user-info .article-row p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #050723;
}
/* main#profile section.information article.user-info .article-row p:last-child {
  margin-left: 10px;
} */
main#profile section.information button.add-address {
  padding: 8px 40px;
  background: #0727b7;
  border-radius: 8px;
  outline: none;
  border: none;
  align-self: flex-end;
}
main#profile section.information button.add-address p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}
main#profile input[type="radio"] {
  display: unset;
}
main#profile section.information article.user-info form {
  width: 100%;
}
main#profile section.information label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #050723;
  margin-bottom: 4px;
}
main#profile section.information input[type="password"],
main#profile section.information input[type="text"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 8px;
  border: 1px solid #050723;
  border-radius: 4px;
  margin-bottom: 4px;
}
main#profile section.information .password-container + p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  margin-bottom: 8px;
  text-align: left;
}
main#profile section.information .password-container {
  position: relative;
}
main#profile section.information .password-container img {
  position: absolute;
  top: 22%;
  right: 41%;
  color: white;
}

main#profile section.information form button.add-address {
  float: right;
}
main#profile section.information form input {
  width: 60%;
  outline: none;
}
main#profile section.information form input,
main#profile section.information form input:active,
main#profile section.information form input:focus {
  /* background-image: url(../images/profile-page-images/password-icon.svg); */
  background-size: 25px 15px;
  background-position: 99%;
  background-repeat: no-repeat;
  cursor: pointer;
}
main#profile .orders-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #050723;
  margin-bottom: 24px;
}
/* SECTION TABLE START */
main#profile .table-container {
  overflow-x: scroll;
}
main#profile table {
  width: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  margin-bottom: 128px;
  white-space: nowrap;
}
main#profile table tr {
  border-bottom: 1px solid #d7d7d7;
}
main#profile table thead tr th:first-child p,
main#profile table thead tr th:first-child img {
  display: inline-flex;
}
main#profile table thead tr th p {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #050723;
  margin: 0;
  padding: 16px 16px;
}
main#profile table tbody tr th p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #050723;
  padding: 16px 16px;
  margin: 0;
}
main#profile table tbody tr th a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #0727b7;
}
main#profile table tbody th:has(a) {
  cursor: pointer;
}
main#profile table tbody th:has(img) img {
  display: inline;
  margin-right: 10px;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 767px) {
  main#profile .breadcrumbs > a,
  main#profile .breadcrumbs > p {
    padding: 6px 0px;
    font-size: 12px;
  }
  main#profile p {
    font-size: 16px;
  }
  main#profile#profile h3 {
    font-size: 24px !important;
  }
  main#profile section.information form input {
    width: 100%;
  }
  main#profile section.information .password-container img {
    position: absolute;
    top: 22%;
    right: 1%;
    color: white;
  }
  main#profile .breadcrumbs {
    margin-top: 65px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 18px;
  }
}
