main#product-search .breadcrumbs {
  margin-top: 17px;
  margin-bottom: 33px;
  display: flex;
}
main#product-search .breadcrumbs > * {
  margin-right: 4px;
}
main#product-search .breadcrumbs a,
main#product-search .breadcrumbs p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #050723;
  text-decoration: none;
  display: inline-block;
}
main#product-search .breadcrumbs p {
  margin: 0;
}
main#product-search aside.aside-menu {
  min-width: 310px;
  height: max-content;
  background: #f9f9fd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 24px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #f5f5f5;
  overflow-y: auto;
}
.category-list {
  list-style: none;
  margin: 0;
  padding: 12px;
}
.category-list li button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #050723;
  margin-bottom: 12px;
}
.category-list li:last-child button {
  margin-bottom: 0px;
}
.category {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}
.subcategory-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.subcategory-list li.subcategory:last-child {
  margin-bottom: 12px;
}
li.subcategory {
  padding: 0px 8px;
  text-align: left;
  line-height: 0px;
  margin-bottom: 4px;
}
.active-category {
  color: #0727b7 !important;
  margin-bottom: 8px !important;
}
li.subcategory:hover a {
  color: #0727b7;
}
li.subcategory a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #050723;
  text-decoration: none;
}

/* TRANSITIONS EFFECT  */
.subcategories-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.subcategories-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.subcategories-exit {
  opacity: 1;
  transform: translateY(0);
}
.subcategories-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
main#product-search .search-menu {
  margin-bottom: 128px;
  display: flex;
}
main#product-search .search-menu .search-list {
  flex-grow: 1;
}
@media screen and (max-width: 1199px) {
  main#product-search aside.aside-menu {
    min-width: 250px;
  }
}
@media screen and (max-width: 992px) {
  main#product-search aside.aside-menu {
    display: none;
  }        
}
@media screen and (max-width: 767px) {
  main#product-search .breadcrumbs > a,
  main#product-search .breadcrumbs > p {
    padding: 2px 0px;
  }
  main#product-search .breadcrumbs {
    margin-top: 65px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
}
