@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+3:wght@400;600&family=Source+Serif+4:opsz,wght@8..60,600;8..60,700&display=swap");

/* LAYOUT START */
body {
  background-color: #ffffff;
  color: #ffffff;
  font-size: 1em;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  height: 100vh;
}
main {
  width: 100%;
}
.container {
  width: 1184px;
  margin: 0 auto;
}
/* LAYOUT END*/

/* HEADER START*/
header {
  width: 100%;
  min-height: 80px;
  background-color: #000d58;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  z-index: 999;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 32px;
  padding: 0;
}
header ul.left-side-navigation li,
header ul.right-side-navigation li {
  padding: 4px 8px;
  line-height: 23px;
}
header ul.left-side-navigation li,
header ul.right-side-navigation li {
  padding: 4px 8px;
  line-height: 23px;
}
header img.logo {
  width: 170px;
  height: 36px;
  align-self: center;
}
/* HEADER END*/

/* HERO IMAGE START*/
main .hero-image {
  min-width: 100%;
  height: 559px;
  background-image: url("../images/hero-about-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main .hero-image a.hero-image-button {
  margin-top: 58px;
  height: 40px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
  text-decoration: none;
  color: #000030;
}
main .hero-image .hero-image-button ion-icon {
  color: #000030;
  font-size: 24px;
}
main .hero-image .hero-image-button p {
  font-size: 1em;
  height: 24px;
  font-family: "Source Sans 3";
  font-weight: 600;
}
main .hero-image h1 {
  line-height: 88px;
  font-size: 4em;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  /* padding-top: 128px; */
  margin-top: 45px;
}
/* HERO IMAGE END*/

/* MAIN START */

main .contact-form-wrapper {
  background: #ffffff;
  position: relative;
  height: 702px;
  margin-top: -180px;
  box-shadow: 0px -64px 64px rgba(19, 38, 99, 0.15);
  border-radius: 64px 64px 0px 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .contact-form-wrapper h2 {
  margin: 64px 0 40px 0;
  color: #000030;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  font-size: 2em;
}
main .contact-form-wrapper form.contact-form {
  height: 450px;
  width: 384px;
  background: #f1efef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px;
}

/* SECTION TEAM INFO START */
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section h2 {
  font-size: 2em;
  line-height: 32px;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  margin: 24px 0;
  color: #000030;
}
main section p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #585655;
  line-height: 20px;
  text-align: center;
  margin-bottom: 44px;
}
main section .cards {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
/* main section .cards > * {
  flex: 0 0 48%;
} */
main section .card-head {
  margin-bottom: 24px;
}
main section .card {
  width: 484px;
  height: 217px;
  padding: 16px;
  gap: 24px;
  border: 1px solid #000d58;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
main section .card img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
main section .card h1 {
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  font-size: 28px;
  color: #000030;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
main section .card h2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000030;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
/* main section .cards .card:first-child {
}
main section .cards:last-child {
} */
main section a.button {
  background-color: #324994;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
  font-weight: 400;
  width: 125px;
  height: 36px;
  color: #ffffff;
  outline: none;
  display: flex;
  justify-content: center;
}
main section a.button p {
  align-self: center;
  color: #ffffff;
}
/* SECTION TEAM INFO END */

/* MAIN END */

/* FOOTER START*/
footer {
  background: #000030;
  height: 236px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: auto;
  color: #ffffff;
  bottom: 0;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 40px;
}
footer ul {
  list-style: none;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
footer ul.left-footer-elements img.logo {
  width: 170px;
  height: 36px;
  align-self: center;
  margin-bottom: 8px;
}
footer ul.left-footer-elements {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
footer .container .copyright {
  margin-bottom: 35px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
footer .left-footer-elements .social-handles {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 28px;
  padding: 0;
}
footer ul.middle-footer-elements {
  display: flex;
  flex-direction: row;
  gap: 58px;
  padding: 0;
  padding-bottom: 32px;
  line-height: 26px;
  font-size: 18px;
}
footer ul.middle-footer-elements ul {
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 8px;
}
footer ul.right-footer-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 100%;
  line-height: 23px;
  font-size: 1em;
  gap: 16px;
}
/* FOOTER END*/
