@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+3:wght@400;600&family=Source+Serif+4:opsz,wght@8..60,600;8..60,700&display=swap");

/* LAYOUT START */
body {
  color: #ffffff;
  background: #000030;
  font-size: 1em;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
}
.container-wrap {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
}
main {
  background: #ffff;
}
/* LAYOUT END*/

/* HEADER START*/
header {
  background: #000d58;
  border-bottom: 1px solid #ffffff;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 24px 0;
}
header nav ul li {
  padding: 4px 8px;
}
header nav ul li:not(:first-child) {
  margin-left: 32px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
header nav a img.logo {
  width: 170px;
  height: 36px;
}
/* HEADER END*/

/* HERO IMAGE START*/
main .hero-image {
  min-width: 100%;
  height: 559px;
  background-image: url("../images/hero-about-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main .hero-image a.hero-image-button {
  margin-top: 58px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 4px;
  text-decoration: none;
  color: #000030;
}
main .hero-image .hero-image-button ion-icon {
  color: #000030;
  font-size: 24px;
}
main .about-us-form-wrapper {
  max-width: 1184px;
  width: 100%;
  background: #ffffff;
  position: relative;
  height: 528px;
  margin-top: -120px;
  border-radius: 64px;
  box-shadow: 0px -64px 64px rgba(19, 38, 99, 0.15);
  z-index: 1000;
  display: flex;
  align-self: center;
  flex-direction: column;
}
main .about-us-form-wrapper p.about-us-text {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #585655;
  padding: 64px 300px;
}
main .about-us-form-wrapper p.about-us-text span {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-size: 16px;
}
main .hero-image .hero-image-button p {
  font-size: 1em;
  height: 24px;
  font-family: "Source Sans 3";
  font-weight: 600;
  margin: 0;
}
main .hero-image h3 {
  line-height: 88px;
  font-size: 4em;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 45px;
}
/* HERO IMAGE END*/

/* BANNER START */
.banner {
  background: #000d58;
  box-shadow: 0px -64px 64px rgba(19, 38, 99, 0.15);
  border-radius: 64px 0px 0px 64px;
  width: 716px;
  height: 437px;
  position: absolute;
  right: 0;
  top: 379px;
  z-index: 9999;
  padding: 80px;
  display: flex;
  flex-direction: column;
}
.banner .double-quotes {
  display: flex;
  position: absolute;
  top: 32px;
  left: 30px;
}
.quote {
  /* background: #8086ab !important; */
}
.banner .quote:first-of-type {
  margin-right: 8px;
}
.banner .img-container {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 16px;
  overflow: hidden;
  border: 2px solid #ffffff;
}
.banner .img-container img {
  display: block;
  width: 100%;
  height: 140%;
  object-fit: cover;
  position: relative;
  object-position: center;
  flex-shrink: 0;
  top: -35%;
}
.banner .data-container {
  flex-grow: 1;
  align-self: center;
}
.banner .profile-container {
  display: flex;
  flex-direction: column;
}
.banner .personal-details {
  display: flex;
  margin-bottom: 16px;
}
.banner p {
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  max-width: 80%;
  margin-bottom: 68px;
}

.banner h4 {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  align-self: stretch;
  font-size: 24px;
  line-height: 33px;
  color: #fbfaf8;
  margin-bottom: 4px;
}
.banner h5 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fbfaf8;
  margin-bottom: 8px;
}
.slider-block {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
}
.slider-block .dot {
  align-self: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #aba9a9;
}

  .slider-block button {
    background-color: #ffc425;
    height: 10px;
    width: 10px;
    text-indent: -9999px;
    overflow: hidden;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
  }
  .slick-dots ul {
    list-style-type: none;
  }
  .slick-dots ul li {
    margin: 0 0.25rem;
  }
  .slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;

    border: none;
    border-radius: 100%;
    background-color: orange;

    text-indent: -9999px;
  }
  .slick-dots li.slick-active button {
    background-color: red;
  }

/* BANNER END */

/* MAIN START */

/* SECTION TEAM INFO START */
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section h3 {
  font-size: 2em;
  line-height: 32px;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  margin: 40px 0 24px 0;
  color: #000030;
}
main section p.intro {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #585655;
  line-height: 20px;
  text-align: center;
  margin-bottom: 44px;
}
/* main section .cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */
main section .card {
  padding: 16px;
  margin: 16px;
  border: 1px solid #000d58;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
}
main section .card .img-container {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 24px;
  overflow: hidden;
}

/* main .container-wrap .container .row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
main .container-wrap .container .row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
} */

main section .card .data-container {
  flex-grow: 1;
}
main section .card .data-container .phone img,
main section .card .data-container .email img {
  width: 16px;
  height: 16px;
  align-self: center;
}
main section .card .img-container img {
  display: block;
  width: 100%;
  height: 140%;
  object-fit: cover;
  position: relative;
  object-position: center;
  flex-shrink: 0;
  top: -35%;
}
main section .card h4 {
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  align-self: stretch;
  font-size: 28px;
  line-height: 38px;
  color: #000030;
  margin-bottom: 4px;
}
main section .card h5 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #585655;
  margin-bottom: 8px;
}
.info-box {
  background: #f1efef;
  border-radius: 4px;
  display: flex;
  height: 32px;
  padding: 4px 8px;
}
.info-box ion-icon {
  color: #324994;
  align-self: center;
  font-size: 18px;
}
.info-box a {
  font-family: "Source Sans 3", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #324994;
  text-decoration: none;
  margin-left: 10px;
}
main section .card .email {
  margin-bottom: 8px;
}
main section .card .phone {
  margin-bottom: 8px;
}
main section a.button {
  background-color: #324994;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 128px;
  padding: 8px 32px;
}
main section a.button p {
  align-self: center;
  color: #ffffff;
  margin: 0;
}
/* SECTION TEAM INFO END */

/* MAIN END */

/* FOOTER START*/
footer {
  background: #000030;
  color: #ffffff;
}
footer .container-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 70px;
  margin-top: 40px;
}
footer ul {
  list-style: none;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
footer .column-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
footer .column-1 img.logo {
  width: 170px;
  height: 36px;
  margin-bottom: 8px;
}
footer .column-1 p.copyright {
  margin-bottom: 35px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
footer .column-1 ul.social-handles {
  display: flex;
  font-size: 20px;
  padding: 0;
}
footer .column-1 ul.social-handles li a {
  margin-right: 24px;
  color: #ffffff;
}
footer .column-2 {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-bottom: 32px;
  line-height: 26px;
  font-size: 18px;
}
footer .column-2 {
  display: flex;
  padding: 0;
}
footer .column-2-1 a,
footer .column-2-2 a {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
footer .column-2-1 a:visited,
footer .column-2-2 a:visited {
  color: #ffffff;
}
footer .column-2-1,
footer .column-2-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .column-2-1 {
  margin-right: 30px;
}
footer .column-2-2 {
  margin-left: 30px;
}
footer .column-2 a:nth-child(2) {
  margin: 8px 0;
}
footer .column-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 100%;
}
footer .column-3 p {
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
footer .column-3 p:nth-child(2) {
  margin: 16px 0;
}

/* FOOTER END*/

/* RESPONSIVE VIEW */
header nav .hamburger {
  display: none;
}

/* 1920 1440 1024 768 420 320 */

@media only screen and (max-width: 1200px) {
  /* main section .card .img-container img {
    display: none;
  } */
  .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) {
  header nav {
    height: 100%;
  }
  header nav ul {
    display: none;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
  }
  header nav a img.logo {
    margin: 16px 24px;
  }
  header nav .hamburger {
    display: block;
    margin-right: 15px;
    font-size: 55px;
  }
  main .hero-image a.hero-image-button {
    display: none;
  }
  main .hero-image h3 {
    margin-top: 0;
    padding-top: 64px;
  }
  main .about-us-form-wrapper p.about-us-text {
    padding: 24px;
    box-shadow: 0px -10px 24px rgba(19, 38, 99, 0.1);
    border-radius: 32px 32px 0px 0px;
  }
}

@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 420) {
}
