@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+3:wght@400;600&family=Source+Serif+4:opsz,wght@8..60,600;8..60,700&display=swap");

/* LAYOUT START */
body {
  color: #ffffff;
  background: #000030;
  font-size: 1em;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
}
.container {
  width: 1184px;
  margin: 0 auto;
}
main {
  background: #ffff;
}
/* LAYOUT END*/

/* HEADER START*/
header {
  background: #000d58;
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}
header nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}
header nav ul li {
  padding: 4px 8px;
}
header nav ul li:not(:first-child) {
  margin-left: 32px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
header nav a img.logo {
  width: 170px;
  height: 36px;
}
/* HEADER END*/

/* HERO IMAGE START*/
main .hero-image {
  min-width: 100%;
  height: 559px;
  background-image: url("../images/hero-about-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main .hero-image a.hero-image-button {
  margin-top: 58px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 4px;
  text-decoration: none;
  color: #000030;
}
main .hero-image .hero-image-button ion-icon {
  color: #000030;
  font-size: 24px;
}
main .hero-image .hero-image-button p {
  font-size: 1em;
  height: 24px;
  font-family: "Source Sans 3";
  font-weight: 600;
}
main .hero-image h3 {
  line-height: 88px;
  font-size: 4em;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  /* padding-top: 128px; */
  margin-top: 45px;
}
/* HERO IMAGE END*/

/* MAIN START */

/* SECTION TEAM INFO START */
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section h3 {
  font-size: 2em;
  line-height: 32px;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  margin: 24px 0;
  color: #000030;
}
main section p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #585655;
  line-height: 20px;
  text-align: center;
  margin-bottom: 44px;
}
main section .cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main section .card {
  width: 484px;
  padding: 16px;
  margin: 16px;
  border: 1px solid #000d58;
  border-radius: 12px;
  display: flex;
}
main section .card .img-container {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 24px;
}
main section .card .data-container {
  flex-grow: 1;
}
main section .card img {
  border-radius: 50%;
}
main section .card h4 {
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  align-self: stretch;
  font-size: 28px;
  line-height: 38px;
  color: #000030;
  margin-bottom: 4px;
}
main section .card h5 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #585655;
  margin-bottom: 8px;
}
.info-box {
  background: #f1efef;
  border-radius: 4px;
  display: flex;
  height: 32px;
  padding: 4px 8px;
}
.info-box ion-icon {
  color: #324994;
  align-self: center;
  font-size: 18px;
}
.info-box a {
  font-family: "Source Sans 3", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #324994;
  text-decoration: none;
  margin-left: 10px;
}
main section .card .email {
  margin-bottom: 8px;
}
main section .card .phone {
  margin-bottom: 8px;
}
main section a.button {
  background-color: #324994;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
  font-weight: 400;
  width: 125px;
  height: 36px;
  color: #ffffff;
  outline: none;
  display: flex;
  justify-content: center;
}
main section a.button p {
  align-self: center;
  color: #ffffff;
}
/* SECTION TEAM INFO END */

/* MAIN END */

/* FOOTER START*/
footer {
  background: #000030;
  color: #ffffff;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 70px;
  margin-top: 40px;
}
footer ul {
  list-style: none;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
footer .col-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
footer .col-1 img.logo {
  width: 170px;
  height: 36px;
  margin-bottom: 8px;
}
footer .col-1 p.copyright {
  margin-bottom: 35px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
footer .col-1 ul.social-handles {
  display: flex;
  font-size: 20px;
  padding: 0;
}
footer .col-1 ul.social-handles li a {
  margin-right: 24px;
  color: #ffffff;
}
footer .col-2 {
  display: flex;
  flex-direction: row;
  gap: 58px;
  padding: 0;
  padding-bottom: 32px;
  line-height: 26px;
  font-size: 18px;
}
footer .col-2 {
  display: flex;
  padding: 0;
}
footer .col-2-1 a,
footer .col-2-2 a {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
footer .col-2-1 a:visited,
footer .col-2-2 a:visited {
  color: #ffffff;
}
footer .col-2-1,
footer .col-2-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .container .col-2.col-2-1:nth-child(2) {
  margin: 8px 0;
}
footer .col-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 100%;
}
footer .col-3 p {
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
footer .col-3:nth-child(2) {
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
/* FOOTER END*/
