@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+3:wght@400;600&family=Source+Serif+4:opsz,wght@8..60,600;8..60,700&display=swap");

/* LAYOUT START */
body {
  background: #000030;
  color: #ffffff;
  font-size: 1em;
}
.content-wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background: #ffffff;
}
.container {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
}
/* LAYOUT END*/

/* HEADER START*/
header {
  background-color: #000d58;
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
  z-index: 999;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 24px 0;
}
header nav ul li {
  padding: 4px 8px;
}
header nav ul li:not(:first-child) {
  margin-left: 32px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
header nav a img.logo {
  width: 170px;
}
/* HEADER END*/

/* HERO IMAGE START*/
main .hero-image-background {
  width: 100%;
  height: 559px;
  position: relative;
  display: flex;
  justify-content: center;
}
main .hero-image-background img.hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}
main a.hero-image-button {
  margin-top: 58px;
  display: inline-flex;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 4px;
  text-decoration: none;
  color: #000030;
}
main .hero-image-button ion-icon {
  color: #000030;
  font-size: 24px;
}
main .hero-image-button p {
  font-size: 1em;
  height: 24px;
  font-family: "Source Sans 3";
  font-weight: 600;
  margin: 0;
}
main .hero-image-title {
  line-height: 88px;
  font-size: 4em;
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-top: 45px;
}
/* HERO IMAGE END*/

/* MAIN START */

main .contact-form-wrapper {
  max-width: 1184px;
  width: 100%;
  background: #ffffff;
  position: relative;
  height: 702px;
  margin-top: -220px;
  box-shadow: 0px -64px 64px rgba(19, 38, 99, 0.15);
  border-radius: 64px 64px 0px 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .contact-form-wrapper h4 {
  margin: 64px 0 40px 0;
  color: #000030;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  font-size: 2em;
}
main .contact-form-wrapper form.contact-form {
  height: 450px;
  width: 384px;
  background: #f1efef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px;
}
main .contact-form-wrapper form.contact-form .form-field label {
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  color: #000030;
  font-weight: 400;
  margin-bottom: 2px;
  line-height: 20px;
  display: block;
}
main .contact-form-wrapper form.contact-form .form-field input {
  width: 100%;
  padding: 5px;
  margin-bottom: 16px;
  border: 1px solid #050723;
  background: #ffffff;
  border-radius: 4px;
}
main .contact-form-wrapper form.contact-form .form-field:nth-of-type(4) input {
  margin-bottom: 8px;
}
form.contact-form .checkbox {
  display: none;
}
.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-container .checkmark {
  display: inline-block;
  height: 16px;
  width: 16px;
  z-index: 1000000;
  border: 1px solid #aba9a9;
  border-radius: 2px;
  position: relative;
}
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* input:checked ~ .checkmark {
  background-color: #2196f3;
} */
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
form.contact-form .form-checkbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
form.contact-form .form-checkbox p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000030;
  margin-left: 8px;
}
form.contact-form a.button {
  background-color: #324994;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
  font-weight: 400;
  width: 125px;
  height: 36px;
  color: #ffffff;
  outline: none;
  display: flex;
  justify-content: center;
}
main .contact-form-wrapper form.contact-form a.button p {
  align-self: center;
}

/* MAIN END */

/* FOOTER START*/
footer {
  background: #000030;
  color: #ffffff;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 70px;
  margin-top: 40px;
}
footer ul {
  list-style: none;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
footer .col-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
footer .col-1 img.logo {
  width: 170px;
  height: 36px;
  margin-bottom: 8px;
}
footer .col-1 p.copyright {
  margin-bottom: 35px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
footer .col-1 ul.social-handles {
  display: flex;
  font-size: 20px;
  padding: 0;
}
footer .col-1 ul.social-handles li a {
  margin-right: 24px;
  color: #ffffff;
}
footer .col-2 {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-bottom: 32px;
  line-height: 26px;
  font-size: 18px;
}
footer .col-2 {
  display: flex;
  padding: 0;
}
footer .col-2-1 a,
footer .col-2-2 a {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff !important;
}
footer .col-2-1 {
  margin-right: 30px;
}
footer .col-2-2 {
  margin-left: 30px;
}
footer .col-2-1 a:visited,
footer .col-2-2 a:visited {
  color: #ffffff;
}
footer .col-2-1,
footer .col-2-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .col-2 a:nth-child(2) {
  margin: 8px 0;
}
footer .col-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 100%;
}
footer .col-3 p {
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
footer .col-3 p:nth-child(2) {
  margin: 16px 0;
}
/* FOOTER END*/
