.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 220px;
  height: 344px;
  border: none;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  /* margin-right: 53px; */
  margin-bottom: 53px;
}
.card-image-container {
  width: 220px;
  height: 220px;
  object-fit: cover;
  object-position: center;
}
.card-image {
  min-width: 100%;
  height: 100%;
}
.card-title {
  padding: 8px;
  padding-bottom: 4px;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #050723;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
  width: 100%; /* or use max-width */
}
.card-description {
  margin: 0;
  padding: 0px 8px 4px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  text-align: left;
  align-self: flex-start;
}
.discount-amount {
  position: absolute;
  top: -1px;
  left: -1px;
  background: #d71e4a;
  border-radius: 3px;
}
.discount-amount p {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #f2f4f7;
  padding: 8px;
  margin: 0;
}
.pricing {
  margin: 0;
  display: flex;
  padding: 0px 8px 8px 8px;
  width: 100%;
}
.pricing p {
  margin: 0;
}
.pricing p:first-child {
  margin: 0;
  margin-right: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
  position: relative;
}
.pricing p:first-child::before {
  content: "";
  position: absolute;
  width: 34px;
  top: 9px;
  border: 1px solid #828282;
  transform: rotate(-21.86deg);
  height: 2px;
  left: 0px;
  bottom: 0px;
}
.pricing p:nth-child(2) {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #050723;
}
