@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap");

/*  LAYOUT  */

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.container-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/*  LAYOUT  */

/* HEADER  */
header {
  padding: 17px 0px 17px 0px;
}
header nav.socials {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
}
header nav.socials > img {
  /* margin-right: 83px; */
  display: inline-block;
  position: relative;
}
header nav.socials .input-container {
  position: relative;
  /* margin-right: 83.84px; */
}
header nav.socials input {
  min-width: 475px;
  height: 40px;
  border: none;
  outline: none;
  padding: 12.27px 24.72px 11.73px 18px;
  background: #f2f2f2;
  box-sizing: border-box;
}
header nav.socials input::placeholder {
  font-weight: 300;
  font-size: 13.3333px;
  line-height: 16px;
  color: #0094da;
}
header nav.socials input + .search-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 35%;
  left: 92%;
}
header nav.socials ul.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}
header nav.socials ul.social-icons li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11.75px;
}
header nav.socials ul.social-icons li a {
  text-decoration: none;
}
header nav.socials ul.social-icons li.company-phone a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
header nav.socials ul.social-icons li.company-phone a img {
  margin-top: -2px;
}
header nav.socials ul.social-icons li.lang-bg a,
header nav.socials ul.social-icons li.lang-en a {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
header nav.socials ul.social-icons li.lang-bg a:hover,
header nav.socials ul.social-icons li.lang-en a:hover,
header nav.socials ul.social-icons li.company-phone a:hover {
  color: #1d8bc5;
}
header nav.socials ul.social-icons li.company-phone {
  margin-right: 24px;
}
header nav.socials ul.social-icons li.facebook {
  margin-right: 20.75px;
}
header nav.socials ul.social-icons li.lang-bg {
  margin-right: 9px;
}
header nav.socials ul.social-icons li.lang-en {
  margin: 0;
}
header nav.menu {
  width: 806px;
  height: 38px;
  margin: 0 auto;
}
header nav.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
header nav.menu ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  color: #000000;
}
header nav.menu ul li.logo:hover {
  border-bottom: 1px solid #1d8bc5;
}
header nav.menu ul li:hover {
  border-bottom: 1px solid#1d8bc5;
  transform: translateY(-1px);
}

/* HEADER  */

/* MAIN */

section.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  position: absolute;
  width: 100%;
  background: #ddf3ff;
}
section.hero-section .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
section.hero-section .hero-container img {
  margin-bottom: 40px;
}
section.hero-section .hero-container h4.hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin: 0;
}
section.hero-section .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.hero-section .container-wrapper > .categories:nth-of-type(2) {
  margin-bottom: 20px;
}
section.hero-section .categories .category-box {
  position: relative;
  width: 130px;
  /* height: 165px; */
  max-height: 180px;
  margin-right: 18.57px;
  /* margin-bottom: 20px; */
  text-align: center;
}
section.hero-section .categories .category-box div {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}
section.hero-section .categories .category-box:hover img {
  border: 2px solid #1d8bc5;
  border-radius: 200px;
}
section.hero-section .categories .category-box div img {
  display: inline-block;
  margin-bottom: 5px;
}
/* section.hero-section .categories .category-box:nth-child(8),
section.hero-section .categories .category-box:nth-child(16) {
  margin-right: 0px;
} */
section.hero-section .categories .category-box:last-child {
  margin-right: 0px;
}
section.hero-section .categories .category-box p.category-name {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  text-transform: uppercase;
}
section.hero-section .categories .category-box .counter {
  width: 30px;
  height: 30px;
  background-color: #ff3232;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
}
section.hero-section .categories .category-box .counter p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}
section.hero-section .percentage {
  position: absolute;
  left: 0px;
  bottom: -20px;
}

/* MAIN */

/* FOOTER */

footer {
}

/* FOOTER */

/* HIDDEN CLASSES  */

header nav.socials ul.social-icons.mobile {
  display: none;
}
header nav.socials .input-container.middle {
  display: none;
}
header nav.socials .img-container img:nth-child(2) {
  display: none;
  cursor: pointer;
}

/* HIDDEN CLASSES  */

/* MEDIA QUERIES  */

@media screen and (max-width: 1199px) {
  header nav.socials > img {
    margin-right: 0px;
  }
  header nav.socials .input-container {
    margin-right: 0px;
  }
  header nav.socials input {
    min-width: 329px;
  }
  header nav.socials > img {
    top: 0px;
    right: 0px;
  }
  header.container-wrapper {
    /* padding-top: 10px; */
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 992px) {
  header {
    padding: 0;
  }
  header nav.menu {
    display: none;
  }
  header.container-wrapper {
    padding: 0;
  }
  header nav.socials {
    flex-direction: column;
    margin-bottom: 20px;
  }
  header nav.socials ul.social-icons {
    order: -1;
    padding-left: 5px;
    padding-right: 5px;
    background: #f2f2f2;
  }
  header nav.socials ul.social-icons.mobile {
    display: block;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
  }
  header nav.socials ul.social-icons.mobile .separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav.socials ul.social-icons.mobile .separator .lang-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav.socials ul.social-icons.mobile .separator-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav.socials ul.social-icons.desktop {
    display: none;
  }
  header nav.socials ul.social-icons li.facebook {
    margin: 0;
  }
  header nav.socials ul.social-icons li.company-phone {
    margin: 0;
  }
  header nav.socials .input-container.desktop {
    display: none;
  }
  header nav.socials .input-container.middle {
    display: block;
    border: 1px solid #0094da;
  }
  header nav.socials .img-container {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  header nav.socials .img-container img:nth-child(2) {
    display: block;
  }
  header nav.socials .img-container img {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  header nav.socials .input-container.desktop {
    display: block;
    width: 100%;
    padding: 0px 15px;
  }
  header nav.socials .input-container.desktop input {
    width: 100%;
    padding: 12.27px 17.82px 11.73px 18px;
  }
  header nav.socials input + .search-icon {
    left: 94%;
  }
  header nav.socials .input-container.middle {
    display: none;
  }
}
@media screen and (max-width: 590px) {
  header nav.socials input + .search-icon {
    left: 92%;
  }
}
@media screen and (max-width: 480px) {
  header nav.socials input + .search-icon {
    left: 90%;
  }
}
@media screen and (max-width: 380px) {
  header nav.socials input + .search-icon {
    left: 87%;
  }
  header nav.socials input {
    width: 100%;
  }
}

/* MEDIA QUERIES  */
