/* MAIN#about  */
main#about h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #050723;
  margin-top: 24px;
  margin-bottom: 0;
}
main#about p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #050723;
  margin: 0;
  margin-bottom: 40px;
}
main#about section.container {
  height: max-content;
}
main#about section.container .col-xl-6 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #050723;
  margin: 0;
  text-align: left;
  margin-top: 24px;
}
main#about section.about-us .col-xl-6:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main#about section.about-us .mob-lab-pic {
  display: none;
}

main#about h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #050723;
  margin: 80px 0 70px 0;
}
main#about section.certificates .row .col-lg-3 {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  max-width: 303px;
}
main#about .iso-container {
  border: 6px solid #000e4b;
  border-radius: 4px;
  position: relative;
  height: 155px;
  width: 303px;
}
main#about .iso-container p {
  color: #000e4b;
  margin: 0;
  position: absolute;
  display: inline-block;
  z-index: 1;
}
main#about .iso-container p:nth-child(1) {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  right: 18px;
  top: 18px;
}
main#about .iso-container p:nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  left: 20px;
  bottom: 20px;
}
main#about .iso-container p:nth-child(3) {
  font-weight: 700;
  font-size: 88px;
  line-height: 101px;
  letter-spacing: -0.03em;
  right: 18px;
  bottom: 0;
}
main#about .iso-container span.stroke-1 {
  background: #a7c7ff;
  border-radius: 2px;
  width: 53px;
  height: 33px;
  display: inline-block;
  position: absolute;
  transform: rotate(-135deg);
  bottom: 86px;
  left: 21px;
}
main#about .iso-container span.stroke-2 {
  background: #a7c7ff;
  border-radius: 2px;
  width: 144px;
  height: 33px;
  display: inline-block;
  position: absolute;
  transform: rotate(-45deg);
  bottom: 100px;
  left: 40px;
}
main#about section.certificates .col-xl-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
  flex-direction: column;
  align-items: center;
}
main#about .iso-container + p {
  display: none;
  text-align: center;
  color: #000e4b;
  margin-top: 8px;
}
main#about section.our-partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main#about section.our-partners h3 {
  margin: 80px 0 24px 0;
}
main#about section.our-partners .p-container {
  margin-bottom: 24px;
}
main#about section.our-partners .p-container,
main#about section.our-facilities .p-container {
  display: flex;
  justify-content: center;
}

main#about section.our-partners p,
main#about section.our-facilities p {
  text-align: left;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #050723;
  /* margin-bottom: 24px; */
}
main#about section.our-partners .logos {
  mix-blend-mode: luminosity !important;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main#about section.our-partners .logos:nth-child(3) {
  margin-bottom: 10px;
}
main#about section.our-partners .logos .manufacturer-img-container {
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
main#about section.our-partners .logos .manufacturer-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main#about section.our-partners > .logos:nth-of-type(1) {
  margin-bottom: 10px;
}
main#about section.our-facilities {
  margin-top: 128px;
}
main#about section.our-facilities p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #050723;
  margin-bottom: 32px;
}
main#about section.our-facilities h3 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #050723;
}
main#about section.our-facilities img.mobile {
  width: 100%;
  height: 346px;
  object-fit: cover;
  object-position: center;
  display: none;
  border-radius: 8px;
  margin: 24px 0px;
}
main#about section.our-facilities ~ img.desktop {
  width: 100%;
  height: 476px;
  object-fit: cover;
  object-position: center;
  display: block;
}
main#about h3.questions {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #050723;
  margin: 54px 0 24px 0;
}
main#about .q-container {
  display: flex;
  justify-content: center;
  padding-bottom: 54px;
  background: #f2f4f7;
  flex-direction: column;
}
main#about button.show-more {
  padding: 8px 40px;
  background: #0727b7;
  border-radius: 8px;
  outline: none;
  border: none;
  width: max-content;
  margin: 0 auto;
}
main#about button.show-more p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin: 0;
}
main#about section.manufacturers {
  display: none;
}

@media only screen and (max-width: 1199px) {
  main#about section.certificates .row .col-lg-3 {
    margin-bottom: 8px;
  }
  main#about .iso-container + p {
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000e4b;
    margin: 8px 0px 40px 0px;
  }
  main#about section.certificates .col-xl-3 {
    margin: 0px;
  }
}
@media only screen and (max-width: 992px) {
  main#about section.about-us .desktop-lab-pic {
    display: none;
  }
  main#about section.about-us .mob-lab-pic {
    display: block;
    margin: 24px 0px;
    width: 100%;
  }
  main#about section.our-facilities img.mobile {
    display: block;
  }
  main#about section.our-facilities ~ img.desktop {
    display: none;
  }
  main#about section.our-facilities img.mobile {
    height: 346px;
    object-position: right center;
    display: block;
  }
  main#about section.our-facilities ~ img.desktop {
    display: none;
  }
  main#about section.certificates .row .col-lg-3 {
    display: flex;
    justify-content: center;
  }
  /*  */
  main#about section.our-partners .logos {
    display: none;
  }
  main#about section.manufacturers {
    margin-top: 16px;
    margin-bottom: 40px;
    display: block;
  }
  section.manufacturers h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #050723;
    margin-bottom: 16px;
  }
  section.manufacturers .manufacturers-slider {
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  section.manufacturers > div > div > .slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.manufacturers > div > div > .slick-track .slick-slide {
    margin-right: 24px;
    width: 128px !important;
    height: 128px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
  }
  .manufacturers-slider:before,
  .manufacturers-slider:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 200px;
    top: 0;
    height: 100%;
  }
  .manufacturers-slider:before {
    left: 0;
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    );
  }
  .manufacturers-slider:after {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }
  .manufacturers-slider:before,
  .manufacturers-slider:after {
    width: 50px;
  }
  section.manufacturers > div > div > .slick-track .slick-slide {
    margin-right: 16px;
    width: 83px !important;
    height: 83px !important;
  }
  /*  */
}
@media only screen and (max-width: 767px) {
  main#about h3 {
    margin-top: 64px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
  }
  main#about section.our-facilities img.mobile {
    height: 246px;
  }
  main#about p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 16px;
  }
  main#about h4 {
    font-size: 24px;
    line-height: 28px;
    margin: 40px 0;
  }
  main#about .iso-container {
    width: auto;
    width: 155px;
    height: 88px;
    border: 3.4379px solid #000e4b;
    border-radius: 2.29193px;
  }
  main#about .iso-container + p {
    font-size: 16px;
    line-height: 18px;
  }
  main#about .iso-container p:nth-child(1) {
    right: 2px;
    text-align: center;
    top: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
  main#about .iso-container p:nth-child(2) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    left: 3px;
    bottom: 6px;
  }
  main#about .iso-container p:nth-child(3) {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.03em;
    right: 3px;
    bottom: 0;
  }
  main#about .iso-container span.stroke-1 {
    width: 26px;
    height: 20px;
    bottom: 52px;
    left: 22px;
  }
  main#about .iso-container span.stroke-2 {
    width: 83px;
    height: 20px;
    bottom: 60px;
    left: 30px;
  }
  main#about section.our-partners h3 {
    margin: 0px 0 0px 0;
  }
  main#about section.our-partners p {
    margin-bottom: 0px;
  }
  main#about section.our-partners .p-container {
    margin-bottom: 16px;
  }
  main#about section.our-facilities h3 {
    margin-top: 40px;
  }
  main#about h3.questions {
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #050723;
  }
  main#about section.our-facilities p {
    margin-bottom: 64px;
  }
  main#about section.our-facilities h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #050723;
  }
  main#about section.our-facilities {
    margin: 0;
  }
  main#about section.certificates .col-xl-3:nth-of-type(3) .iso-container p {
    margin: 0;
  }
  main#about button.show-more {
    width: auto;
    margin: 0px 24px;
  }
}
