main#checkout {
  min-height: calc(100vh - 64px);
  background: url(../../assets/check-out-page-images/new-micr.png);
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
  padding-top: 32px;
}
main#checkout h4.page-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #050723;
  margin-bottom: 64px;
  text-align: center;
}
main#checkout > div > div > div:nth-child(1) {
  padding-right: 124px;
  position: relative;
  padding-left: 112px;
}
main#checkout > div > div > div:nth-child(2) {
  padding-left: 124px;
  padding-right: 60px;
}
main#checkout h4.box-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #050723;
  margin-bottom: 24px;
}
main#checkout .left h4.page-title,
main#checkout .right h4.page-title {
  margin-top: 0;
  margin-bottom: 24px;
}
main#checkout .box .misc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}
main#checkout .box .misc .checkbox-container {
  display: flex;
  align-items: center;
}
main#checkout .box .misc .checkbox-container a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #050723;
  text-decoration: none;
}
main#checkout .box.left a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: #0727b7;
  align-self: flex-end;
}
main#checkout .left,
main#checkout .right {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
}
main#checkout .checkbox {
  margin-right: 4px;
}
main#checkout .checkbox + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main#checkout .checkbox + label:before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  border: 2px solid #ccc;
  background: #fff;
}

main#checkout .checkbox + label:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 5px;
  top: 6px;
  left: 4px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}

main#checkout .checkbox:checked + label:after {
  opacity: 1;
}
main#checkout .container {
  height: 100%;
  position: relative;
}
/* main#checkout .container .row {
  height: 100%;
} */
main#checkout .col-sm-6 {
  position: relative;
}
main#checkout > div > div > div:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 0; /* Position the border on the right side of the container */
  top: 0; /* Align the border with the top of the container */
  bottom: 30%; /* Align the border with the bottom of the container */
  width: 5px; /* Set the width of the border */
  border-right: 1px solid #c0c0c0; /* Add the border */
}
main#checkout form.contact-form {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
main#checkout form.contact-form .form-field label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #050723;
  display: block;
  margin-bottom: 4px;
}
main#checkout form.contact-form .form-field input {
  width: 100%;
  max-width: 422px;
  padding: 5px;
  margin-bottom: 4px;
  border: 1px solid #050723;
  background: #ffffff;
  outline: none;
  border-radius: 4px;
}
main#checkout button.show-more {
  padding: 8px 40px;
  background: #0727b7;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-bottom: 24px;
}
main#checkout .box.left button.show-more p,
main#checkout .box.right button.show-more p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}
main#checkout .misc-2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  display: inline-block;
  margin: 0;
}
main#checkout .misc-2 a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.022em;
  color: #000000;
}
@media only screen and (max-width: 992px) {
  main#checkout {
    height: calc(100vh - 48px);
    padding-top: 32px;
    background-repeat: no-repeat;
    background-position: bottom 0px right -150px;
    background-size: contain;
  }
  main#checkout > div > div > div:nth-child(1) {
    padding: 0;
  }
  main#checkout > div > div > div:nth-child(2) {
    padding: 0;
    margin-top: 54px;
  }
  main#checkout > div > div > div:nth-child(1)::after {
    content: none;
  }
  main#checkout .left,
  main#checkout .right {
    width: max-content;
    margin: 0 auto;
  }
  main#checkout form.contact-form {
    min-width: 327px;
  }
  main#checkout button.show-more {
    margin: 0 auto;
    margin-bottom: 12px;
  }
  main#checkout .misc-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  main#checkout .misc-2 p {
    margin-bottom: 0px;
  }
  main#checkout h4.page-title {
    margin-bottom: 32px;
  }
  main#checkout h4.box-title {
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 22px;
  }
  main#checkout .box.left a {
    align-self: unset;
  }
}
@media only screen and (max-width: 767px) {
  main#checkout {
    background-position: bottom 0px right -50px;
  }
  main#checkout {
    margin-top: 48px;
  }
}
