main#promotions {
  padding-bottom: 128px;
}
main#promotions h3.promotions-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #050723;
  margin: 33px 0px 53px 0px;
}
main#promotions .breadcrumbs {
  margin-top: 17px;
  display: flex;
}
main#promotions .breadcrumbs > * {
  margin-right: 4px;
}
main#promotions .breadcrumbs > img {
  margin-bottom: -2px;
}
main#promotions .breadcrumbs a,
main#promotions .breadcrumbs p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #050723;
  text-decoration: none;
  display: inline-block;
}
main#promotions .breadcrumbs a:visited,
main#promotions .breadcrumbs p:visited {
  color: #050723;
}
main#promotions .breadcrumbs a:hover,
main#promotions .breadcrumbs p:hover {
  color: #0727b7;
}
main#promotions .breadcrumbs p {
  margin: 0;
}
main#promotions .row > .col-xl-2 {
  padding: 0;
  display: flex;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(220px, 1fr));
  /* grid-gap: 46px; */
  grid-row-gap: 46px;
  justify-content: space-between;
}
.item {
  background-color: #ddd;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
@media screen and (max-width: 1199px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

#promotions > div.grid-container > div {
  display: flex;
  justify-content: center;
}
